# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Sushi bar Game.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\slava\Desktop\Unity Projects\Sushi Idle Game\Sushi-Restraunt-Game\Sushi bar Game\.idea\.idea.Sushi bar Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
